
.banda {
    padding: 2rem;
    text-align: center;
    background-color: #37918aa8;
    color: white;
    font-size: 1.5rem;
    width: 100%;
}

.background {
    background: rgb(55,145,138);
    background: linear-gradient(180deg, rgba(55,145,138,1) 33%, rgba(212,248,232,1) 62%, rgba(212,248,232,1) 89%);
}

.titulo {
    padding-top: 2rem;
    color: #3d3a3a;
    text-align: center;
    font-weight: bold;
    
}

.texto {
    text-align: justify;
    max-height: 90%;
}

.relleno {
    padding-top: 2.5rem;
    opacity: 0.6;
    max-height: 90%;
}

