<div class="row">
    <header id="about" class="banda">
        “One can never have enough socks.”
    </header>
    <br>
</div>
<div class="row">
    <div class="col-lg-6 form">

        <form action="mailto:ChunkyLover53@aol.com" method="post" enctype="text/plain">

            <input class="form-control form-lg mb-2" type="text" id="name" name="name" placeholder="Nombre">
            <input class="form-control form-lg mb-2" id="Email" type="text" name="mail" placeholder="Tu Email">
            <textarea class="form-control form-lg mb-2" type="text" name="comment" size="50" placeholder="!Déjanos tu consulta!"></textarea><br><br>
            <input class= "btn btn-lg btn-block" type="submit" value="Enviar">
        </form>
    </div>
    <div class="triangle-right"></div>
    <div class="col-lg-5 col-sm-12 datos">
        <h1 id= "contacto" class="titulo text-uppercase">
            Contacto
        </h1>
        <hr class="separador">
        <p class="texto text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Sed voluptate nihil eum consectetur similique? Consectetur, 
            quod, incidunt, harum nisi dolores delectus reprehenderit 
            voluptatem perferendis dicta dolorem non blanditiis ex fugiat.
        </p>
        <ul class="lista-contacto">
            <li class="text-uppercase"><span class="item-list">Horario: </span>de lunes a viernes de 8:30 a 15:30</li>
            <li class="text-uppercase"><span class="item-list">Dirección: </span>742 de Evergreen Terrace</li>
            <li class="text-uppercase"><span class="item-list">Teléfono: </span>555–6528</li>
            <li class="text-uppercase"><span class="item-list">Email: </span>ChunkyLover53@aol.com </li>
        </ul>
    </div>
</div>



