

.banda {
    padding: 2rem;
    text-align: center;
    background-color: #78c7c1;
    color: white;
    font-size: 1.5rem;
    width: 100%;
}
.datos {
    padding: 3rem;
}

.titulo{
    font-weight: bold;
}

.separador {
    background-color: white;
}

.item-list {
    color: #abcfcc;
    font-weight: bold;
    padding: 5px;
}

.editar {
    max-width: 100%;
}

.form {
    padding: 5rem !important;
    background-color: #78c7c1;
    padding: 5px;
    color: white;

}

.btn {
    background-color: white;
    color: #37918a;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #ffb367;
  }

 