<div class="row mt-5">
  <header id="contacto" class="banda bg-dark m-0">
    “One can never have enough socks.”
  </header>
  <br>
</div>
<div class="row">
  <div class="col-md-6 mx-auto col-sm-12 col-xs-12 form mycontent-left">
    <h1 class="titulo text-uppercase">
      -Contacto-
    </h1>
    <hr class="separador mb-5">
    <p class="texto text-justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin lectus eget sem vestibulum, et cursus enim tincidunt. Cras id enim id augue placerat eleifend quis eu orci. Quisque lacus nibh, egestas vitae ornare eu, lacinia nec odio. Proin venenatis faucibus suscipit. Integer luctus vehicula turpis sed scelerisque. Nam vitae ante vel erat eleifend tempus sit amet sed ex. Ut scelerisque risus lorem, vel elementum diam ultricies vel. Cras aliquet odio pulvinar massa rutrum euismod. Curabitur a viverra ligula, accumsan pulvinar velit. Nunc porta scelerisque nisl, ut convallis velit gravida a. Nunc eget convallis magna. Proin fringilla egestas tortor non gravida. Curabitur dictum quam sed imperdiet semper. Maecenas luctus accumsan dui sit amet pharetra. Fusce sagittis dictum urna, volutpat faucibus arcu pellentesque fermentum.
    </p>
    <p class="texto text-justify">
      Quisque vitae pulvinar turpis. Sed porta sagittis orci nec ultrices. Cras ex neque, imperdiet sit amet dapibus et, ullamcorper in tortor. Aenean ipsum purus, feugiat ac tincidunt eget, semper eget nisi. Cras ut ligula sit amet ipsum laoreet porta. Nam placerat imperdiet iaculis. In bibendum nisl at diam blandit, vitae suscipit felis hendrerit.
    </p>
    <p class="texto text-justify">
      In fringilla eu eros sit amet ultricies. Nunc posuere orci varius ligula pellentesque, in viverra augue feugiat. Proin lacus ex, vulputate in condimentum id, fringilla bibendum ex. Duis et finibus orci, quis elementum ipsum. Nam non condimentum orci, eget venenatis sem. Vestibulum odio massa, volutpat vel turpis ut, maximus rhoncus lectus. Suspendisse condimentum id arcu nec tincidunt. Curabitur vitae enim nec ligula dictum dignissim. Aenean ac porttitor sapien. Praesent mattis porttitor justo, vitae suscipit nulla consectetur nec.
    </p>
    <ul class="lista-contacto">
      <li class="text-uppercase"><span class="item-list">Horario: </span>de lunes a viernes de 8:30 a 15:30</li>
      <li class="text-uppercase"><span class="item-list">Dirección: </span>742 de Evergreen Terrace</li>
      <li class="text-uppercase"><span class="item-list">Teléfono: </span>555–6528</li>
      <li class="text-uppercase"><span class="item-list">Email: </span><a href="mailto:ChunkyLover53@aol.com?subject=Serendipity&body=Haznos%20una%20consulta!">ChunkyLover53@aol.com</a></li>
    </ul>
  </div>
</div>



