/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
*{
    font-family: 'Roboto Condensed', sans-serif;
}

.panel {
  -webkit-box-shadow: 20px 10px 43px 0px rgba(80,167,159,0.28);
  -moz-box-shadow: 20px 10px 43px 0px rgba(80,167,159,0.28);
  box-shadow: 20px 10px 43px 0px rgba(80,167,159,0.28);

  padding: 1rem;
}
.contenedor-tareas {
    padding: 40px;
    background-color: #d5f0ee;
    margin-bottom: 1rem;
    }

.title {
    font-weight: bold;
    color: #50a79f;
}

.subtitle {
  font-weight: bold;
  color: #94dad3;
}

.table-first {
    background-color: #50a79f;
    color: white;
}

th, td {
    border: 1px solid	#494c4c;
}

.estado {
    width: 7%;
    text-align: center;
}

.general {
    width: 18%;
    text-align: center;
}

.pointer {
  cursor: pointer;
}

.task-table_wrapper {
  width: 100%;
}

