<app-header-app></app-header-app>
<div class="row panel">
  <div class="col-md-2 register-left">
    <div class="row">
      <h4 class="title mt-2 mb-5">Panel de Administración</h4>
      <hr>
      <button class="meet btn btn-block mt-5" [routerLink]="['/add-task']">Añadir tareas</button>
      <button class="meet btn btn-block " [routerLink]="['/add-user']" >Añadir usuarios</button>
    </div>
  </div>

  <div class="col-md-9">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#users">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tasks">Tareas</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div id="users" class="tab-pane active register-form row"><br>
        <h5 class="titulo-pendientes"> Tabla de usuarios </h5>
        <hr>
        <table #dataTableUsers id="user-table" class="display" style="width:100%"></table>
        <button class="d-none" id="editUser" data-id="" (click)="editUser($event)">userId</button>
        <button class="d-none" id="deleteUser" data-id="" (click)="deleteUser($event)">userId</button>
      </div>

      <div id="tasks" class="tab-pane fade register-form row"><br>
        <h5 class="titulo-pendientes"> Tabla de tareas </h5>
        <hr>
        <table #dataTableTasks id="task-table" class="display" style="width:100%"></table>
        <button class="d-none" id="editTask" data-id="" (click)="editTask($event)">taskId</button>
        <button class="d-none" id="deleteTask" data-id="" (click)="deleteTask($event)">taskId</button>
      </div>
    </div>
  </div>
</div>

