<app-header-web></app-header-web>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Login Form -->

      <input type="text" id="userName" [(ngModel)]="userName" class="fadeIn first" placeholder="Nombre de usuario">
      <input type="password" id="password" [(ngModel)]="password" class="fadeIn second" placeholder="Contraseña de usuario">
      <button type="button" (click)="loginCheck()"  class="fadeIn third"> Iniciar Sesión</button>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">He olvidado la contraseña</a>
    </div>

  </div>
</div>