* {
    font-family: 'Roboto Condensed', sans-serif !important;
  }
    a {
      color: #5accc2;
      display:inline-block;
      text-decoration: none;
      font-weight: 400;
      font-family: 'Roboto Condensed', sans-serif !important;
    }

    .client-image {
      width: 100px;
      opacity: 0.5;
      margin-bottom: 2rem;
    }
    .client-box {
      background: #fff;
      padding: 30px;
      position: relative;
      padding: 2rem;
      -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
      box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
      text-align: center;
      margin-top: 15rem;
    }

    input[type=text] {
      background-color: #f6f6f6;
      border: none;
      color: darkgrey;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-bottom: 1%;
      border: 2px solid #f6f6f6;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }

    input[type=text]:focus {
      background-color: #fff;
      border-bottom: 2px solid #5accc2;
    }

    input[type=text]:placeholder {
      color: #cccccc;
    }


    .fadeInDown {
      -webkit-animation-name: fadeInDown;
      animation-name: fadeInDown;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    @-webkit-keyframes fadeInDown {
      0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }
      100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }

    @keyframes fadeInDown {
      0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }
      100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
    @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


    .fadeIn.first {
      -webkit-animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
      animation-delay: 0.4s;
      font-family: 'Roboto Condensed', sans-serif !important;
    }


  .envio{
    margin-bottom: 3rem;
  }

  .package-number{
    min-width: 100%;
    padding: 1rem;
  }
