<div id="sidebar">
    <div class="username">
        <div><img class="img-fluid" src="../../assets/images/user-icon.jpg" alt="user-icon"></div>

        <p class="user-name">Nombre de Usuario</p>
        <div class="subtitle">
            <p>Rol de usuario</p>
            <p>Empresa del usuario</p>
        </div>
            <hr>
        <div class="edicion">
            <p> Editar datos de usuario </p>
        </div>
        <ul class="list-unstyled">
                <li>
                    <a href="#">Foto de perfil</a>
                </li>
                <li>
                    <a href="#">Correo electrónico</a>
                </li>
                <li>
                    <a href="#">Editar contraseña</a>
                </li>
        </ul>
</div>
</div>