<!--sidebar de la izquierda-->
<div class="row user-task">
  <div class="col-md-10 mx-auto mt-2">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#started">Comenzadas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#unstarted">Pendientes</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="started" class="tab-pane active"><br>
        <h3 class="register-heading titulo-comenzadas">Comprobar mis tareas comenzadas</h3>
        <div class="mt-5 register-form">
          <div class="contenedor-comenzada opacity ">
            <div *ngFor="let task of tasks" class="">
              <div *ngIf="task.status.id == 1" class="form-group row tarea-comenzada">
                <div class="task-name col-md-5 ">{{ task.name }}</div>
                <div class="task-description col-md-8 mt-3">{{ task.description }}</div>
                <div class="task-button col-md-4"><button class="comenzada btn btn-lg btn-block" [routerLink]="['/user-deploy']">IR A TAREA</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="unstarted" class="tab-pane"><br>
        <h3 class="register-heading titulo-pendientes">Comprobar mis tareas pendientes</h3>
        <div class="mt-5 register-form">
          <div class="contenedor-pendiente opacity">
            <div *ngFor="let task of tasks" class="">
              <div *ngIf="task.status.id == 2" class="form-group row tarea-pendiente">
                <div class="task-name col-md-5">{{ task.name }}</div>
                <div class="task-description col-md-8 mt-3">{{ task.description }}</div>
                <div class="task-button col-md-4"><button class="pendiente btn btn-lg btn-block" [routerLink]="['/user-deploy']">IR A TAREA</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
