* {
    font-family: 'Roboto Condensed', sans-serif !important;
}

@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);


.importante {
    float: right;
    min-height: 30rem;
    margin-left: 0px !important;

}

.jzdbox1 {
  width:315px; 
  background:#295350bb; 
  border-radius:5px; 
  margin-bottom:10px; 
  box-shadow:0 0 10px #295350bb; 
  margin:0 auto;
}

.jzdcal {
  padding:10px 10px 10px 10px; 
  background:#749d9e; 
  background: -webkit-linear-gradient(#749d9e, #b3a68b)!important; 
  background: -o-linear-gradient(#749d9e, #b3a68b)!important; 
  background: -moz-linear-gradient(#749d9e, #b3a68b)!important; 
  background: linear-gradient(#749d9e, #b3a68b)!important;
}

.jzdcalt {
  font:18px 'Roboto'; 
  font-weight:700; 
  color:#f7f3eb; 
  margin:20px 0px 20px 0; 
  text-transform:uppercase; 
  text-align:center; 
  letter-spacing:5px;
}

.jzdcal span {
  font:11px 'Roboto'; 
  font-weight:400; 
  color:#f7f3eb; 
  text-align:center; 
  width:42px; 
  height:42px; 
  display:inline-block;
  overflow:hidden; 
  line-height:40px;
}

.jzdcal .jzdb:before {
  opacity:0.3; 
  content:'o';
}

.circle {
  border:1px solid #f7f3eb; 
  border-radius:200px!important;
}

span[data-title]:hover:after, 
div[data-title]:hover:after {
  font:11px 'Roboto'; 
  font-weight:400; 
  content:attr(data-title); 
  background:#282423; 
  border:1px solid #f7f3eb; 
  color:#f7f3eb; 
}