<app-header-app></app-header-app>
<div class="row user-deploy">
  <div class="col-md-10 mx-auto">
    <div class="">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Nombre de la tarea</label>
          <input type="text" class="form-control" formControlName="taskName" placeholder="" readonly>
        </div>
        <div class="form-group col-md-8">
          <label>Descripción de la tarea</label>
          <input type="text" class="form-control" formControlName="description" placeholder="" readonly>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Fecha de Inicio</label>
          <input type="text" class="form-control" formControlName="start_date" placeholder="" readonly>
        </div>
        <div class="form-group col-md-6">
          <label>Fecha de Finalización</label>
          <input type="email" class="form-control" formControlName="finish_date" placeholder="" readonly>
        </div>
      </div>
      <div class="form-row mt-4">
        <div class="form-group col-md-6">
          <select class="custom-select ">
            <option value="1" selected>Pendiente</option>
            <option value="2">Comenzada</option>
            <option value="3">Finalizada</option>
          </select>
        </div>
        <div class="col-md-6">
        <button class= "meet btn btn-block">
          Guardar cambios
        </button>
      </div>
      </div>
    </div>
  </div>
</div>
