
.user-deploy {
  -webkit-box-shadow: 3px 3px 5px 6px #a7c2c0; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #a7c2c0; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #a7c2c0; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  margin: 5px;
  height: 100%;
  padding: 2rem;

}

.meet {
  background-color: #37918a;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.meet:hover {
  background-color: #ffb367;
  color: white;
}

.container-fluid {
  width: 100%;
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}
