<div class="container-fluid p-0 m-0">
  <app-header-app></app-header-app>

  <div class="user-deploy bg-light mt-2">
    <div *ngIf="errorMessage" class="col-md-12">
      <ngb-alert type="danger" (close)="errorMessage = ''">{{ errorMessage }}</ngb-alert>
    </div>
    <div *ngIf="successMessage" class="col-md-12">
      <ngb-alert type="success" (close)="successMessage = ''">{{ successMessage }}</ngb-alert>
    </div>
    <div class="col-md-10 mx-auto">
      <form class="" [formGroup]="taskForm">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Nombre de la tarea</label>
            <input type="text" class="form-control" formControlName="name" placeholder="" readonly>
          </div>
          <div class="form-group col-md-12">
            <label>Descripción de la tarea</label>
            <textarea type="text" class="form-control" formControlName="description" placeholder="" readonly></textarea>
          </div>
        </div>
        <div class="form-row mt-4">
          <div class="form-group col-md-6">
            <select class="custom-select" formControlName="status_id">
              <option *ngFor="let item of status" value="{{item.id}}" selected>{{item.name}}</option>
            </select>
          </div>
          <div class="col-md-6">
            <button class="meet btn btn-block" (click)="save()">
              Guardar cambios
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

