

.img-fluid{
    width: 100% \9;
}

.navbar-nav {
  cursor: pointer;
}

.nav-item :hover {
  color: #ccd993 !important;
}

.navbar-nav .nav-link :active {
  color: #37918a !important;
}

.navbar-light .navbar-nav .nav-link {
  /* color: rgba(0,0,0,.5); */
  color: whitesmoke;
  font-size: smaller;
}
