<div class="row">
  <header id="about" class="banda bg-dark">
    “Make things as simple as possible, but not simpler."
  </header>
  <br>
</div>
<div class="row">
  <div class="col-md-4 back-col">
    <div>
      <h2 class="titulo">-SERENDIPITY-</h2>
      <br>
      <hr>
      <br>
      <div class="texto">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique?
          Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem
          non blanditiis ex fugiat impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit
          dolorum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa
          voluptate corrupti eum ratione ex ea praesentium quibusdam? </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 meet">
    <div>
      <h2 class="titulo">-NOSOTROS-</h2>
      <br>
      <hr>
      <br>
      <div class="texto">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique?
          Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem
          non blanditiis ex fugiat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut
          sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit
          dolorum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa
          voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus
          perspiciatis quis?</p>
      </div>
      <div class="row justify-content-center">
        <a (click)="scrollTo('contacto')" class="btn col-md-12">¿Quieres contactarnos?</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 meet">
    <div>
      <h2 class="titulo">-NUESTRA MISIÓN-</h2>
      <br>
      <hr>
      <br>
      <div class="texto">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique?
          Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem
          non blanditiis ex fugiat.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut
          sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit
          dolorum!</p>
      </div>
    </div>
  </div>
</div>



