
<div class="row">
    <header id="about" class="banda">
        “Make things as simple as possible, but not simpler."
    </header>
    <br>
</div>

<div class="row backRow">
    <div class="col-lg-6 backCol">
        <div>
            <h2 class= "titulo">¿QUIENES SOMOS NOSOTROS?</h2>
            <br>
            <hr>
            <br>
            <div class="texto">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 meet">
        <div class="row justify-content-center">
            <a (click)="scrollTo('contacto')" class="btn col-md-8">¿Quieres contactarnos?</a>
        </div>
    </div>
    
</div>
