
.img-fluid {
    width: 100% \9;
}

.pointer {
    cursor: pointer;
}

.nav-item :hover {
    color: #ccd993 !important;
}

.navbar-light .navbar-nav .nav-link {
  /* color: rgba(0,0,0,.5); */
  color: whitesmoke;
  font-size: smaller;
}
a.dropdown-item {
  font-size: smaller;
  color: darkgray;
  font-weight: bold;
}

* {
    font-family: 'Roboto Condensed', sans-serif !important;
}

