<div class="row">
    <div class="col-lg-6 col-sm-12 map">
        <img src="../../assets/images/SUSTITUIR.png" alt="SUSTITUIR" class="editar">
    </div>
    <div class="col-lg-6 col-sm-12 datos">
        <h1 id= "contacto" class="titulo text-uppercase">
            Contacto
        </h1>
        <hr class="separador">
        <p class="texto text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Sed voluptate nihil eum consectetur similique? Consectetur, 
            quod, incidunt, harum nisi dolores delectus reprehenderit 
            voluptatem perferendis dicta dolorem non blanditiis ex fugiat.
        </p>
        <ul class="lista-contacto">
            <li class="text-uppercase"><span class="item-list">Horario: </span>de lunes a viernes de 8:30 a 15:30</li>
            <li class="text-uppercase"><span class="item-list">Dirección: </span>742 de Evergreen Terrace</li>
            <li class="text-uppercase"><span class="item-list">Teléfono: </span>555–6528</li>
            <li class="text-uppercase"><span class="item-list">Email: </span>ChunkyLover53@aol.com </li>
        </ul>
    </div>

</div>
